.wrapper{
	position: relative;
	float: left;
	top: -51px;
	width: 100%;
	height: 168.5%;
	background-color: #EEEEEE;
}
section{
	position: relative;
	float: left;
	top: 40px;
	background-color: #EEEEEE;
	width: 97.2%;
	height: 100%;
	margin-left: 15px;
	margin-right: 15px;
}
.games{
    height: 92%;
}
#cartel{
	position: relative;
	float: left;
}
.distri{
	position: relative;
	float: left;
	width: 72.7%;
	background-color: teal;
}
.distri img{
	width: 15%;
	margin-left: 451px;
}
.stock b:after{content: "En stock"}
.nostock b:after{content: "No disponible"}
.descrip tr:nth-child(1) td:nth-child(2){
    color: limegreen;
}
.descrip tr:nth-child(2) td:nth-child(2){
	color: coral;
}
.descrip{
	position: relative;
	float: left;
	width: 72.7%;
	height: 234px;
}
.descrip table{position: relative;margin: auto;top: 53px;font-weight: bold;}
td:nth-child(even){	
	text-align: right;
}
.precio{
	position: relative;
	float: left;
	width: 70.7%;
	height: 70px;
	background-color: #264883;
	margin: 0px;
	padding: 5px 5px 5px 15px;
	border-top: 5px solid teal;
}
.precio b{
	position: relative;
	font-size: 2em;
	top: 10px;
	padding-left: 79px;
	color: wheat;
}
.contenido button{
	width: 10%;
	height: 50%;
	position: relative;
	top: 5px;
	left: 10px;
	background-color: teal;
	color: wheat;
	border: none;
}
#content-1{
	position: relative;
	float: left;
	width: 95%;
	height: 91%;
	margin-left: 5px;
	margin-right: 5px;
}
strong{
	position: relative;
	float: left;
	margin-top: 15px;
	padding-left: 15px;
}
/*h3{
	float: left;
	background-color: black;
	color: wheat;
	width: 128px;
	height: 33px;
	margin-right: 30px;
	padding: 13px 0px 0px 15px;
	border-top-left-radius: 10px 10px;
	border-top-right-radius: 10px 10px;
}*/
#content-1 div{
	position: relative;
	float: left;
	width: 100%;
	height: 100%;
	background-color: #333333;
	color: wheat;
	font-size: 0.8em;
	border-radius: 0px 10px 10px 10px;
}
#content-1 ul{
	position:relative;
	float:left;
	padding-right: 15px;
	line-height: 24px;
}
#content-1 li:nth-child(even){
	list-style-type: none;
	margin-left: -18px;
}
#content-1>p{
	padding: 15px;
	line-height: 25px;
}
#content-1 table{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	margin-top: 5px;
	background-color: black;
	border: 1px solid #333;
	border-spacing: 0px;
	width: 56%;
	color: white;
}
#content-1 table tr:first-child{
	text-align: center;
}
#content-1 table td:nth-child(2){
	text-align: left;
}
#content-1 td{
	border: 1px solid #333;
	padding-left: 10px;
}
#minima{
	margin-top: 48px;
}
#minima p, #recomendada p{
	margin: 1px;
}
#minima td:nth-child(1) p{
	color: cornflowerblue;
}
#recomendada td:nth-child(1) p{
	color: springgreen;
}

/** {
	font-family: Arial, sans;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}*/

h1 {
	margin: 1em 0;
	text-align: center;
}

#container {
    float: left;
    margin: 0 auto;
    width: 100%;  /* Ancho del contenedor */
    /* height: 125%; */
}

#container input {
	height: 2.5em;
	visibility: hidden;
}

#container label {
	background: #808080;  /* Fondo de las pestañas */
	border-radius: .25em .25em 0 0;
	color: #fff;  /* Color del texto de las pestañas */
	cursor: pointer;
	display: block;
	float: left;
	font-size: 1em;  /* Tamaño del texto de las pestañas */
	height: 2.5em;
	line-height: 2.5em;
	margin-left: 10px;
	margin-right: .25em;
	padding: 0 1.5em;
	text-align: center;
}

#container input:hover + label {
	background: #4c4c4c;  /* Fondo de las pestañas al pasar el cursor por encima */
	color: #fff;  /* Color del texto de las pestañas al pasar el cursor por encima */
}

#container input:checked + label {
	background: #000000;  /* Fondo de las pestañas al presionar */
	color: wheat; /* Color de las pestañas al presionar */
	position: relative;
	z-index: 6;
	/*
	-webkit-transition: .1s;
	-moz-transition: .1s;
	-o-transition: .1s;
	-ms-transition: .1s;
	*/
}

#content {
	background: #000000;  /
	Fondo del contenido /
	border-radius: 0 .25em .25em .25em;
	min-height: 20em;  /
	Alto del contenido /
	position: relative;
	width: 98%;
	height: 990px;
	margin-left: 10px;
	border-radius: 0px 10px 10px 10px;
	z-index: 5;
}

#content div {
	opacity: 0;
	/* padding: 1.5em; */
	position: absolute;
	z-index: -100;
	/* transition: all linear 0.1s; */
}

#content-1 p {
	clear: both;
	color: wheat;
	/* margin-bottom: 1em; */
}
#content-1 p.left img {
	float: left;
	margin-right: 1em;
}
#content-1 p.last {
	margin-bottom: 0;
}
#content-2{
}
#content-2 p {
	position: relative;
	float: left;
	color: black;
	width: 94%;
	border-radius: 30px;
	margin-bottom: 15px;
	padding: 15px !important;
	text-align: justify;
	background-color: #FFFCE4;
}
#content-2 p.column-right {
	margin: 15px 15px 0px 15px;
}
#content-2 p img {
	margin: 0px auto;
	width: 8%;
	padding: 10px;
	border-radius: 50%;
	position: relative;
	float: left;
}

#container input#tab-1:checked ~ #content #content-1,
#container input#tab-2:checked ~ #content #content-2{
    opacity: 1;
    z-index: 100;
    height: 100%;
}

input.visible {
  visibility: visible !important;
}
/*--------------------------Fin-------Contenido------------------------------*/
