html, body{
    height: 100%;
}
body{
	background-color: #35271E;	
	max-width: 1036px;
	min-width: 1036px;
	min-height: 1036px;
	margin-right: auto;
	margin-left: auto;
}
#fondo{
	background-image: url("../img/banner/fondo.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 50% 0px;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
}
#banda{
	width: 108%;
	height: 131px;
	left: -81px;
	background-color: #264883;
	position: absolute;
}
/*----------------------------------------HEADER-------------------------*/
.titulo{
	position: relative;
	background-color: #264883;
	height: 10.6%;
	padding-top: 15px;
	margin-top: -12px;
	display: block;
}
#logo a:hover img{
	animation: pulse infinite;
}
#logo img{
	width: 270px;
	margin-left: 36.5%;
	position: relative;
}
#dispositivo ul{
	width: 100%;
	margin: 0px;
}
#dispositivo a img{
	transition: transform 1s;
	-webkit-transition: transform 1s;
}
#dispositivo a:hover img{
	transform: translateY(118px);
	-webkit-transform: translateY(118px);
}
#dispositivo ul li{
	position: relative;
	float:left;
	top: -124px;
	list-style-type: none;
	margin-right: -120px;
}
#dispositivo{
	position: absolute;
	top: 8px;
	left: -10px;
	width:100%;
	height: 10%;
	z-index: 20;
}
.marcas{
	width: 40%;
	z-index: 20;
}
/*---------menu-----------*/
/*#menu a{text-decoration: none;}*/
#menu{
	position: relative;
	float: right;
	top: -40px;
	right: 40px;
	height: 36%;
}
#menu li ul {
    visibility: hidden;
    position: absolute;
    width: 145%;
    background-color: #333333;
    left: 0px;
    padding-left: 0px;
    z-index: 17;
}

#menu li ul li {
    background-color: #333333;
}

li:hover ul li a {
    color: #0066CC;
}

li:hover ul li:hover a {
    color: white;
}

ul li:hover li {
    visibility: visible;
}

#menu ul li:hover {
    background-color: #8a8484;
}

#menu li a:hover {
    background-color: #8a8484;
}

#menu ul {
    overflow: hidden;
    background-color: #333333;
    padding-left: 0px;
}

#menu li {
    padding: 7px;
    list-style-type: none;
}

#menu li a {
    display: block;
    color: white;
    padding: 5px;
    text-decoration: none;
}
/*-----Fin--Menu-----------*/
/*-------------------------------------FIN---HEADER-------------------------*/

/*-----------------Banner------------*/
.banner{
	position: relative;
	float:left;
	top: -22px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;	
}
#campo{
	animation: blur 4s 1;
	filter: blur(4px);
}
#soldado{
	position: absolute;
	top: 2px;
	left: 50px;
	width: 18%;
	animation: entrada 2s 1;
}
#disparo{
	position: absolute;
	width: 3%;
	top: 25px;
	left: 228px;
	visibility: hidden;
	animation: disparo 0.5s 5;
	animation-delay: 2.5s;
}
#bf1tit{
	position: absolute;	
	top: 50px;
	right: 69px;
	width: 43%;
}
/*----------Fin----Banner------------*/

/*------------------------------------------------Panel Derecho-----------*/
.distribuidores{
	position:relative;
	float:left;
	left: 1px;
	top: -22px;
	width: 20%;
	height: 100%;
	background-color: #EEEEEE;
}
.distribuidores ul li{
	list-style-type: none;
	margin-left: -20px;
}
.distribuidores ul{
}
/*---------------------------------------Fin-----Panel Derecho------------*/

/*------------------------------------Contenido------------------------------*/
/*------------TamaÃƒÆ’Ã‚Â±o y diseno de cajas-------------*/
.size{margin: 12px 15px 15px 15px;}
.principal{margin: 12px 15px 13px 0px;height: 61%;}
.decor{
	background-color: white;
	border: 1px solid black;
}
.decor p{
	background-color: #264883;
	margin: 0px;
	padding: 5px 5px 5px 15px;
	color: wheat;
	border-bottom: 5px solid teal;
}
/*------------Fin--TamaÃ±o de cajas----------------*/

section{
	position: relative;
	float: left;
	top: -22px;
	background-color: #EEEEEE;
	width: 79.9%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}
.img{
	position: relative;
	float: left;
	width: 40%;
	margin: 10px -106px 0px 10px;
	/* margin-right: -105px; */
	/* margin-left: 10px; */
}
.img img{
	width: 58%;
	/* position: relative; */
	/* float: left; */
}
table{
	border-collapse: collapse;
	border: 1px solid;
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
/*--------------------------Fin-------Contenido------------------------------*/

/*-----------------------------------------------Panel Izquierdo------------*/
aside{
	position:relative;
	float:left;
	top: -22px;
	left: -1px;
	background-color: #EEEEEE;
	width: 20%;
	height: 100%;
}
aside .size{
	height: 50%;
	overflow: auto;
}
aside div::-webkit-scrollbar { 
    display: none; 
}
.oferta img{
	width: 87%;
	padding: 10px;
}
/*---------------------------------------Fin-----Panel Izquierdo------------*/

/*---------------------------------------------FOOTER-----------------------*/
footer{
	position:relative;
	float: left;
	background-color: #264883;
	color: white;
	top: -25px;
	width: 100%;
}
footer p{
	text-align: center;
}
/*-------------------------------------FIN------FOOTER-----------------------*/


@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes blur {
	0%{filter: blur(0px);}
	100%{filter: blur(4px);}
}
@keyframes entrada {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes disparo {
  from, 50%, to {
	visibility: visible;  	
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}